body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('/img/bg2.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.form-container h2 {
  text-align: center;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 90%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

#submit-btn {
  background-color: #007bff;
  color: #fff;
}

#submit-btn:hover {
  background-color: #0056b3;
}

#success-msg {
  color: green;
  text-align: center;
  margin-top: 10px;
}

#error-msg {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 150px;
  width: auto;
  height: auto;
  cursor: pointer;
}
